/*---------------------------------------------*/
/* Imports */
/*---------------------------------------------*/
/*---------------------------------------------*/
/* Globals */
/*---------------------------------------------*/
/*---------------------------------------------*/
/* Extenders */
/*---------------------------------------------*/
.no-Space, body, #container {
  padding: 0px;
  margin: 0px; }

.center-element, .area-Style, #about_me, #resume, #work, #fun, .thinking_bar {
  margin-left: auto;
  margin-right: auto; }

.vertically-centered, #logo {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30px; }

.base-Style, .area-Style, #about_me, #resume, #work, #fun, #top_bar, .content_area_title, .content_panel {
  padding: 5px; }

.area-Style, #about_me, #resume, #work, #fun {
  position: relative;
  height: 800px;
  width: 99.5%; }

.nav-bar-basics, #nav_list li, #work_nav_bar li, #fun_nav_bar li {
  display: inline;
  list-style-type: none;
  padding-right: 60px; }

.add-cursor, #top_bar, #work_nav_bar li, #fun_nav_bar li {
  cursor: pointer; }

/*---------------------------------------------*/
/* Full Document Styles */
/*---------------------------------------------*/
body {
  padding: 0px;
  background-color: black; }

#container {
  position: relative;
  height: 1000px;
  width: 99.5%; }

/*---------------------------------------------*/
/* Top Navigation Bar */
/*---------------------------------------------*/
#top_bar {
  z-index: 101;
  width: 99.5%;
  height: 200px;
  position: fixed;
  background-color: #d0d0d0;
  border-style: solid;
  border-width: 3px;
  border-color: black; }

#logo {
  height: 80px; }

#my_name {
  position: absolute;
  top: 30px;
  left: 150px;
  font-size: 48px;
  color: white; }

#nav_container {
  position: absolute;
  top: 70px;
  right: 15%;
  font-size: 30px;
  color: white; }

/*---------------------------------------------*/
/* thinking_bar */
/*---------------------------------------------*/
.thinking_bar {
  height: 75px;
  width: 99.5%;
  position: relative;
  background-color: black; }

#undercover {
  height: 275px; }

/*---------------------------------------------*/
/* All Areas */
/*---------------------------------------------*/
.content_area_title {
  font-size: 30px; }

.content_panel {
  position: absolute;
  top: 10%;
  left: 0px;
  width: 99.5%;
  height: 90%; }

/*---------------------------------------------*/
/* About Me */
/*---------------------------------------------*/
#about_me {
  background-color: #21d3bf;
  height: 1000px; }

#about_me_title {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 5; }

#about_me img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%; }

/*---------------------------------------------*/
/* Resume */
/*---------------------------------------------*/
#resume {
  background-color: #cfc9e7; }

/*---------------------------------------------*/
/* Gallery */
/*---------------------------------------------*/
.panel_media a {
  height: 500; }

.gallery_image {
  height: 300px; }

/*---------------------------------------------*/
/* work */
/*---------------------------------------------*/
#work {
  background-color: #21d3bf; }

#work_nav_container {
  position: absolute;
  top: 10px;
  right: 15%; }

#work_panel1 {
  opacity: 1.0;
  z-index: 5; }

#work_panel2 {
  opacity: 0;
  z-index: -1; }

#work_panel3 {
  opacity: 0;
  z-index: -1; }

/*---------------------------------------------*/
/* fun */
/*---------------------------------------------*/
#fun {
  background-color: #cfc9e7; }

#fun_nav_container {
  position: absolute;
  top: 10px;
  right: 15%; }

#fun_panel1 {
  opacity: 1.0;
  z-index: 5; }

#fun_panel2 {
  opacity: 0;
  z-index: -1; }

#fun_panel3 {
  opacity: 0;
  z-index: -1; }

/*---------------------------------------------*/
/* Contact */
/*---------------------------------------------*/
#contact {
  position: relative;
  width: 99.5%;
  height: 140px;
  background-color: white; }
