/*---------------------------------------------*/
/* Imports */
/*---------------------------------------------*/
/*---------------------------------------------*/
/* Globals */
/*---------------------------------------------*/
/*---------------------------------------------*/
/* Extenders */
/*---------------------------------------------*/
/* line 18, ../scss/global.scss */
.noSpace, body, #container {
  padding: 0px;
  margin: 0px;
}

/* line 24, ../scss/global.scss */
.center-element, .areaStyle, #about_me, #resume, #work, #fun {
  margin-left: auto;
  margin-right: auto;
}

/* line 30, ../scss/global.scss */
.vertically-centered, #logo {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30px;
}

/* line 36, ../scss/global.scss */
.baseStyle, .areaStyle, #about_me, #resume, #work, #fun, #top_bar, .area_title, .content_panel {
  padding: 5px;
}

/* line 40, ../scss/global.scss */
.areaStyle, #about_me, #resume, #work, #fun {
  position: relative;
  height: 800px;
  width: 80%;
}

/* line 49, ../scss/global.scss */
.nav_bar_basics, #nav-list li, #work-nav-bar li, #fun-nav-bar li {
  display: inline;
  list-style-type: none;
  padding-right: 60px;
}

/*---------------------------------------------*/
/* Main Styles */
/*---------------------------------------------*/
/* line 58, ../scss/global.scss */
body {
  padding: 0px;
  background-color: black;
}

/* line 64, ../scss/global.scss */
#container {
  position: relative;
  height: 1000px;
  width: 100%;
}

/*---------------------------------------------*/
/* Top Bar */
/*---------------------------------------------*/
/* line 74, ../scss/global.scss */
#top_bar {
  z-index: 101;
  width: 100%;
  height: 200px;
  position: fixed;
  background-color: black;
}

/* line 83, ../scss/global.scss */
#logo {
  height: 80px;
}

/* line 88, ../scss/global.scss */
#name {
  position: absolute;
  top: 30px;
  left: 150px;
  font-size: 48px;
  color: white;
}

/* line 96, ../scss/global.scss */
#nav-container {
  position: absolute;
  top: 70px;
  right: 15%;
  font-size: 30px;
  color: white;
}

/*---------------------------------------------*/
/* thinking_bar */
/*---------------------------------------------*/
/* line 111, ../scss/global.scss */
.thinking_bar {
  height: 75px;
  width: 100%;
  position: relative;
  background-color: black;
}

/* line 118, ../scss/global.scss */
#undercover {
  height: 275px;
}

/*---------------------------------------------*/
/* All Areas */
/*---------------------------------------------*/
/* line 125, ../scss/global.scss */
.area_title {
  font-size: 30px;
}

/* line 130, ../scss/global.scss */
.content_panel {
  position: absolute;
  top: 10%;
  left: 0px;
  width: 10%;
  height: 9%;
  background-color: white;
}

/*---------------------------------------------*/
/* About Me */
/*---------------------------------------------*/
/* line 143, ../scss/global.scss */
#about_me {
  background-color: #21d3bf;
}

/*---------------------------------------------*/
/* Resume */
/*---------------------------------------------*/
/* line 152, ../scss/global.scss */
#resume {
  background-color: #cfc9e7;
}

/*---------------------------------------------*/
/* work */
/*---------------------------------------------*/
/* line 160, ../scss/global.scss */
#work {
  background-color: #21d3bf;
}

/* line 165, ../scss/global.scss */
#work-nav-container {
  position: absolute;
  top: 10px;
  right: 15%;
}

/* line 175, ../scss/global.scss */
#work_panel1 {
  opacity: 1.0;
}

/* line 179, ../scss/global.scss */
#work_panel2 {
  opacity: 0;
}

/* line 183, ../scss/global.scss */
#work_panel3 {
  opacity: 0;
}

/*---------------------------------------------*/
/* fun */
/*---------------------------------------------*/
/* line 190, ../scss/global.scss */
#fun {
  background-color: #cfc9e7;
}

/* line 195, ../scss/global.scss */
#fun-nav-container {
  position: absolute;
  top: 10px;
  right: 15%;
}

/* line 205, ../scss/global.scss */
#fun_panel1 {
  opacity: 1.0;
}

/* line 209, ../scss/global.scss */
#fun_panel2 {
  opacity: 0;
}

/* line 213, ../scss/global.scss */
#fun_panel3 {
  opacity: 0;
}

/*---------------------------------------------*/
/* Contact */
/*---------------------------------------------*/
/* line 219, ../scss/global.scss */
#contact {
  position: relative;
  width: 100%;
  height: 140px;
  background-color: white;
}
