/*---------------------------------------------*/
/* Imports */
/*---------------------------------------------*/
@import "compass";

/*---------------------------------------------*/
/* Globals */
/*---------------------------------------------*/ 
$kuler_purple: #cfc9e7;
$kuler_gray: #d0d0d0;
$kuler_orange: #ff7d4e;
$kuler_light_blue: #21d3bf;
$kuler_dark_blue: #58dd01;

/*---------------------------------------------*/
/* Extenders */
/*---------------------------------------------*/
.noSpace {
	padding: 0px;
	margin: 0px;
}

// Complete Center
.center-element {
	margin-left: auto;
	margin-right: auto;
}

// Vertical Align
.vertically-centered {
	margin: auto;
	position: absolute;
	top: 0; bottom: 0; left: 30px;
}

.baseStyle {
	padding: 5px;
}

.areaStyle {
	@extend .center-element;
	@extend .baseStyle;
	position: relative;
	height: 800px;
	width: 80%;
	// opacity: 0. 7;
}

.nav_bar_basics {
	display: inline;
	list-style-type: none;
	padding-right: 60px;
}

/*---------------------------------------------*/
/* Main Styles */
/*---------------------------------------------*/
body {
	@extend .noSpace;
	padding: 0px;
	background-color: black;
}

#container {
	position: relative;
	height: 1000px;
	width: 100%;
	@extend .noSpace;
}

/*---------------------------------------------*/
/* Top Bar */
/*---------------------------------------------*/
#top_bar {
	@extend .baseStyle;
	z-index: 101;
	width: 100%;
	height: 200px;
	position: fixed;
	background-color: black;
}

#logo {
	@extend .vertically-centered;
	height: 80px;
}

#name {
	position: absolute;
	top: 30px;
	left: 150px;
	font-size: 48px;
	color: white;
}

#nav-container {
	position: absolute;
	top: 70px;
	right: 15%;
	font-size: 30px;
	color: white;
}

#nav-list li {
	@extend .nav_bar_basics;
}

/*---------------------------------------------*/
/* thinking_bar */
/*---------------------------------------------*/
.thinking_bar {
	height: 75px;
	width: 100%;
	position: relative;
	background-color: black;
}

#undercover {
	height: 275px;
}

/*---------------------------------------------*/
/* All Areas */
/*---------------------------------------------*/
.area_title {
	@extend .baseStyle;
	font-size: 30px;
}

.content_panel {
	@extend .baseStyle;
	position: absolute;
	top: 10%;
	left: 0px;
	width: 10%;
	height: 9%;
	background-color: white;
}
 
/*---------------------------------------------*/
/* About Me */
/*---------------------------------------------*/
#about_me {
	@extend .areaStyle;
	background-color: $kuler_light_blue;
	// background-image: url("site_images/portrait.JPG");
}

/*---------------------------------------------*/
/* Resume */
/*---------------------------------------------*/
#resume {
	@extend .areaStyle;
	background-color: $kuler_purple;
}

/*---------------------------------------------*/
/* work */
/*---------------------------------------------*/
#work {
	@extend .areaStyle;
	background-color: $kuler_light_blue;
}

#work-nav-container {
	position: absolute;
	top: 10px;
	right: 15%; 
}

#work-nav-bar li {
	@extend .nav_bar_basics;
}

#work_panel1 {
	opacity: 1.0;
}

#work_panel2 {
	opacity: 0;
}

#work_panel3 {
	opacity: 0;
}

/*---------------------------------------------*/
/* fun */
/*---------------------------------------------*/
#fun {
	@extend .areaStyle;
	background-color: $kuler_purple;
}

#fun-nav-container {
	position: absolute;
	top: 10px;
	right: 15%; 
}

#fun-nav-bar li {
	@extend .nav_bar_basics;
}

#fun_panel1 {
	opacity: 1.0;
}

#fun_panel2 {
	opacity: 0;
}

#fun_panel3 {
	opacity: 0;
}
/*---------------------------------------------*/
/* Contact */
/*---------------------------------------------*/
#contact {
	position: relative;
	width: 100%;
	height: 140px;
	background-color: white;
}

