/*---------------------------------------------*/
/* Imports */
/*---------------------------------------------*/
@import "compass";

/*---------------------------------------------*/
/* Globals */
/*---------------------------------------------*/ 
$kuler_tan: #ccb381;
$kuler_gray: #989898;
$kuler_orange: #ff6a00;
$kuler_blue: #40ffda;
$kuler_green: #00cc6b;

/*---------------------------------------------*/
/* Extenders */
/*---------------------------------------------*/
.noSpace {
	padding: 0px;
	margin: 0px;
}

// Complete Center
.center-element {
	margin-left: auto;
	margin-right: auto;
}

// Vertical Align
.vertically-centered {
	margin: auto;
	position: absolute;
	top: 0; bottom: 0; left: 30px;
}

.baseStyle {
	padding: 5px;
}

.areaStyle {
	@extend .center-element;
	@extend .baseStyle;
	position: relative;
	height: 800px;
	width: 100%;
}

/*---------------------------------------------*/
/* Main Styles */
/*---------------------------------------------*/
body {
	@extend .noSpace;
	padding: 0px;
	background-color: $kuler_gray;
	// background-image: url($background-path);
}

#container {
	position: relative;
	height: 1000px;
	width: 100%;
	@extend .noSpace;
}

/*---------------------------------------------*/
/* Top Bar */
/*---------------------------------------------*/
#top_bar {
	@extend .baseStyle;
	z-index: 101;
	width: 100%;
	height: 200px;
	position: fixed;
	background-color: white;
}

#logo {
	@extend .vertically-centered;
	height: 80px;
}

#name {
	position: absolute;
	top: 30px;
	left: 150px;
	font-size: 48px;
}

#nav-container {
	position: absolute;
	top: 70px;
	right: 15%;
	font-size: 30px;
}

#nav-list li {
	display: inline;
	list-style-type: none;
	padding-right: 60px;
}

/*---------------------------------------------*/
/* thinking_bar */
/*---------------------------------------------*/
.thinking_bar {
	height: 75px;
	width: 100%;
	position: relative;
	background-color: $kuler_gray;
}

#undercover {
	height: 275px;
}

/*---------------------------------------------*/
/* All Areas */
/*---------------------------------------------*/
.area_title {
	@extend .baseStyle;
	font-size: 30px;
}
 
/*---------------------------------------------*/
/* About Me */
/*---------------------------------------------*/
#about_me {
	@extend .areaStyle;
	background-color: $kuler_green;
}

/*---------------------------------------------*/
/* Resume */
/*---------------------------------------------*/
#resume {
	@extend .areaStyle;
	background-color: $kuler_orange;
}

/*---------------------------------------------*/
/* work */
/*---------------------------------------------*/
#work {
	@extend .areaStyle;
	background-color: $kuler_blue;
}
/*---------------------------------------------*/
/* fun */
/*---------------------------------------------*/
#fun {
	@extend .areaStyle;
	background-color: $kuler_tan;
}
/*---------------------------------------------*/
/* Contact */
/*---------------------------------------------*/
#contact {
	position: relative;
	width: 100%;
	height: 140px;
	background-color: white;
}

