div(id="contact")
	div(id="contact_info")
		p(id="contact_title") Contact:
		a(href="mailto:speedywolfe@gmail.com") Email Me
		a(href="http://www.linkedin.com/in/wolfemitchell" target="_blank") linkedin
		p(id="site_info") Site coding and design by Mitchell Wolfe 
