div(id="contact")
	div(id="contact_info")
		p(id="contact_title") Contact:
		a(href="mailto:speedywolfe@gmail.com")
			img(src="images/main_page/email_icon.gif")
		a(href="http://www.linkedin.com/in/wolfemitchell" target="_blank")
			img(src="images/main_page/linkedin_logo.gif") 
		p(id="site_info") Site coding and design by Mitchell Wolfe 
