div(id="fun")
	div(id="fun_nav_container" class="content_nav_container")
		p(class="content_area_title") For Fun
		p(id="gen_art_sel" class="active" class="slice" onclick="switch_panel('fun_panel', 1, 'gen_art_sel');") Generative Art
		p(id="photography_sel" class="slice" onclick="switch_panel('fun_panel', 2, 'photography_sel');") Photography
		//- p(id="writing_sel" onclick="switch_panel('fun_panel', 3 ,'writing_sel');") writing
	div(id="fun_content")
		div(id="fun_panel1" class="content_panel")
			p(class="panel_description") Here is a selection of images created using generative art techniques.
			div(id="dig_art" class="panel_media")
				figure(class="item")
					a(title="marble" rel="lightbox-gal2" href="images/digital_art/full/marble.gif")
						img(class="gallery_image" src="images/digital_art/thumbs/marble300.gif")
					figcaption Marble 
				figure(class="item")
					a(title="spines" rel="lightbox-gal2" href="images/digital_art/full/spines.gif") 
						img(class="gallery_image" src="images/digital_art/thumbs/spines300.gif")
					figcaption Spines
				figure(class="item")
					a(title="of_squares" rel="lightbox-gal2" href="images/digital_art/full/of_squares.gif")
						img(class="gallery_image" src="images/digital_art/thumbs/of_squares300.gif")
					figcaption Of Squares
				figure(class="item")
					a(title="travels" rel="lightbox-gal2" href="images/digital_art/full/travels.gif")
						img(class="gallery_image" src="images/digital_art/thumbs/travels300.gif")
					figcaption Travels
				figure(class="item")
					a(title="twins" rel="lightbox-gal2" href="images/digital_art/full/twins.gif")
						img(class="gallery_image" src="images/digital_art/thumbs/twins300.gif")
					figcaption Twins
				figure(class="item")
					a(title="detrimental" rel="lightbox-gal2" href="images/digital_art/full/detrimental.gif")
						img(class="gallery_image" src="images/digital_art/thumbs/detrimental300.gif")
					figcaption Detrimental
				figure(class="item")
					a(title="the_grid" rel="lightbox-gal2" href="images/digital_art/full/the_grid.gif")
						img(class="gallery_image" src="images/digital_art/thumbs/the_grid300.gif")
					figcaption The Grid
				figure(class="item")
					a(title="star_shower" rel="lightbox-gal2" href="images/digital_art/full/star_shower.gif")
						img(class="gallery_image" src="images/digital_art/thumbs/star_shower300.gif")
					figcaption Star Shower
				figure(class="item")
					a(title="sharp_ooze" rel="lightbox-gal2" href="images/digital_art/full/sharp_ooze.gif")
						img(class="gallery_image" src="images/digital_art/thumbs/sharp_ooze300.gif")
					figcaption Sharp Ooze
				figure(class="item")
					a(title="motherboard" rel="lightbox-gal2" href="images/digital_art/full/motherboard.gif")
						img(class="gallery_image" src="images/digital_art/thumbs/motherboard300.gif")
					figcaption Motherboard
				figure(class="item")
					a(title="cylinder_night" rel="lightbox-gal2" href="images/digital_art/full/cylinder_night.gif")
						img(class="gallery_image" src="images/digital_art/thumbs/cylinder_night300.gif")
					figcaption Cylinder Night
				figure(class="item")
					a(title="Color Wheel" rel="lightbox-gal2" href="images/digital_art/full/color_wheel.gif")
						img(class="gallery_image" src="images/digital_art/thumbs/color_wheel300.gif")
					figcaption Color Wheel
				figure(class="item")
					a(title="Haunting Blur" rel="lightbox-gal2" href="images/digital_art/full/haunting_blur.gif")
						img(class="gallery_image" src="images/digital_art/thumbs/haunting_blur300.gif")
					figcaption Haunting Blur
		div(id="fun_panel2" class="content_panel")
			p(class="panel_description") My specialty for photography is low light and night with an emphasis on light painting. I also enjoy landscape and macro photography. 
			div(id="photography" class="panel_media")
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/framed800.gif") 
						img(class="gallery_image" src="images/photography/thumbs/framed300.gif")
					figcaption Framed
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/gate800.gif")
						img(class="gallery_image" src="images/photography/thumbs/gate300.gif")
					figcaption Through the Gate
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/anyone_home800.gif")
						img(class="gallery_image" src="images/photography/thumbs/anyone_home300.gif")
					figcaption Anyone Home
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/streak800.gif")
						img(class="gallery_image" src="images/photography/thumbs/streak300.gif")
					figcaption Streaks
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/light_my_way800.gif")
						img(class="gallery_image" src="images/photography/thumbs/light_my_way300.gif")
					figcaption Light My Way
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/coordinates800.gif")
						img(class="gallery_image" src="images/photography/thumbs/coordinates300.gif")
					figcaption Coordinates
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/sequence800.gif")
						img(class="gallery_image" src="images/photography/thumbs/sequence300.gif")
					figcaption Sequence
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/purple_flower800.gif")
						img(class="gallery_image" src="images/photography/thumbs/purple_flower300.gif")
					figcaption A Macro Flower
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/red_flower800.gif")
						img(class="gallery_image" src="images/photography/thumbs/red_flower300.gif")
					figcaption Another Flower
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/moon800.gif")
						img(class="gallery_image" src="images/photography/thumbs/moon300.gif")
					figcaption Red moon
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/dark_beach800.gif")
						img(class="gallery_image" src="images/photography/thumbs/dark_beach300.gif")
					figcaption Beach Fog
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/fortress800.gif")
						img(class="gallery_image" src="images/photography/thumbs/fortress300.gif")
					figcaption Fortress Rock
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/lookout800.gif")
						img(class="gallery_image" src="images/photography/thumbs/lookout300.gif")
					figcaption Lookout
		//- div(id="fun_panel3" class="content_panel")
			