div(id="fun")
	div(id="fun_nav_container" class="content_nav_container")
		p(class="content_area_title") Fun
		p(id="gen_art" onclick="switch_panel('fun_panel', 1, 'gen_art');") Generative Art
		p(id="photography" onclick="switch_panel('fun_panel', 2, 'photography');") Photography
		p(id="effects" onclick="switch_panel('fun_panel', 3 ,'effects');") After Effects
	div(id="fun_content")
		div(id="fun_panel1" class="content_panel")
			p Generative Art
			div(id="dig_art" class="panel_media")
				div(class="item")
					a(title="marble" rel="lightbox-gal1" href="images/digital_art/full/marble.png")
						img(class="gallery_image" src="images/digital_art/thumbs/marble300.png")
					p Example Description 
				div(class="item")
					a(title="spines" rel="lightbox-gal1" href="images/digital_art/full/spines.png") 
					img(class="gallery_image" src="images/digital_art/thumbs/spines300.png")
				div(class="item")
					a(title="of_squares" rel="lightbox-gal1" href="images/digital_art/full/of_squares.png")
					img(class="gallery_image" src="images/digital_art/thumbs/of_squares300.png")
				div(class="item")
					a(title="travels" rel="lightbox-gal1" href="images/digital_art/full/travels.png")
					img(class="gallery_image" src="images/digital_art/thumbs/travels300.png")
				div(class="item")
					a(title="calligraphy" rel="lightbox-gal1" href="images/digital_art/full/calligraphy.png")
					img(class="gallery_image" src="images/digital_art/thumbs/calligraphy300.png")
				div(class="item")
					a(title="twins" rel="lightbox-gal1" href="images/digital_art/full/twins.png")
					img(class="gallery_image" src="images/digital_art/thumbs/twins300.png")
				div(class="item")
					a(title="detrimental" rel="lightbox-gal1" href="images/digital_art/full/detrimental.png")
					img(class="gallery_image" src="images/digital_art/thumbs/detrimental300.png")
				div(class="item")
					a(title="the_grid" rel="lightbox-gal1" href="images/digital_art/full/the_grid.png")
					img(class="gallery_image" src="images/digital_art/thumbs/the_grid300.png")
				div(class="item")
					a(title="star_shower" rel="lightbox-gal1" href="images/digital_art/full/star_shower.png")
					img(class="gallery_image" src="images/digital_art/thumbs/star_shower300.png")
				div(class="item")
					a(title="sharp_ooze" rel="lightbox-gal1" href="images/digital_art/full/sharp_ooze.png")
					img(class="gallery_image" src="images/digital_art/thumbs/sharp_ooze300.png")
				div(class="item")
					a(title="motherboard" rel="lightbox-gal1" href="images/digital_art/full/motherboard.png")
					img(class="gallery_image" src="images/digital_art/thumbs/motherboard300.png")
				div(class="item")
					a(title="cylinder_night" rel="lightbox-gal1" href="images/digital_art/full/cylinder_night.png")
					img(class="gallery_image" src="images/digital_art/thumbs/cylinder_night300.png")
		div(id="fun_panel2" class="content_panel")
			p Photography
			div(id="photography" class="panel_media")
				div(class="item")
					a(title="Golden Gate Bridge" rel="lightbox-gal2" href="images/photography/full/bridge.JPG") 
						img(class="gallery_image" src="images/photography/thumbs/bridge300.JPG")
				div(class="item")
					a(title="Niagra Falls" rel="lightbox-gal2" href="images/photography/full/falls.JPG")
						img(class="gallery_image" src="images/photography/thumbs/falls300.JPG")
				div(class="item")
					a(title="Light through the Rocks" rel="lightbox-gal2" href="images/photography/full/light.JPG")
						img(class="gallery_image" src="images/photography/thumbs/light300.JPG")
				div(class="item")
					a(title="Turtle in the Virgin Islands" rel="lightbox-gal2" href="images/photography/full/turtle.JPG")
						img(class="gallery_image" src="images/photography/thumbs/turtle300.JPG")
					p comment
				div(class="item")
					a(title="Light My Way" rel="lightbox-gal2" href="images/photography/full/light_my_way.JPG")
						img(class="gallery_image" src="images/photography/thumbs/light_my_way300.JPG")
					p Light My Way
				div(class="item")
					a(title="Coordinates" rel="lightbox-gal2" href="images/photography/full/coordinates.JPG")
						img(class="gallery_image" src="images/photography/thumbs/coordinates300.JPG")
					p Coordinates
				div(class="item")
					a(title="" rel="lightbox-gal2" href="images/photography/full/.JPG")
						img(class="gallery_image" src="images/photography/thumbs/300.JPG")
					p comment
		div(id="fun_panel3" class="content_panel")
			p After Effects
			<iframe width="800" height="600" src="http://www.youtube.com/embed/vFmhnodMOxk" frameborder="0" allowfullscreen></iframe>