div(id="fun")
	div(id="fun_nav_container" class="content_nav_container")
		p(class="content_area_title") Fun
		p(id="gen_art_sel" class="active" onclick="switch_panel('fun_panel', 1, 'gen_art_sel');") Generative Art
		p(id="photography_sel" onclick="switch_panel('fun_panel', 2, 'photography_sel');") Photography
		//- p(id="writing_sel" onclick="switch_panel('fun_panel', 3 ,'writing_sel');") writing
	div(id="fun_content")
		div(id="fun_panel1" class="content_panel")
			p(class="panel_description") Here is a selection of images created using generative art techniques.
			div(id="dig_art" class="panel_media")
				figure(class="item")
					a(title="marble" rel="lightbox-gal2" href="images/digital_art/full/marble.png")
						img(class="gallery_image" src="images/digital_art/thumbs/marble300.png")
					figcaption Marble 
				figure(class="item")
					a(title="spines" rel="lightbox-gal2" href="images/digital_art/full/spines.png") 
						img(class="gallery_image" src="images/digital_art/thumbs/spines300.png")
					figcaption Spines
				figure(class="item")
					a(title="of_squares" rel="lightbox-gal2" href="images/digital_art/full/of_squares.png")
						img(class="gallery_image" src="images/digital_art/thumbs/of_squares300.png")
					figcaption Of Squares
				figure(class="item")
					a(title="travels" rel="lightbox-gal2" href="images/digital_art/full/travels.png")
						img(class="gallery_image" src="images/digital_art/thumbs/travels300.png")
					figcaption Travels
				figure(class="item")
					a(title="calligraphy" rel="lightbox-gal2" href="images/digital_art/full/calligraphy.png")
						img(class="gallery_image" src="images/digital_art/thumbs/calligraphy300.png")
					figcaption Calligraphy
				figure(class="item")
					a(title="twins" rel="lightbox-gal2" href="images/digital_art/full/twins.png")
						img(class="gallery_image" src="images/digital_art/thumbs/twins300.png")
					figcaption Twins
				figure(class="item")
					a(title="detrimental" rel="lightbox-gal2" href="images/digital_art/full/detrimental.png")
						img(class="gallery_image" src="images/digital_art/thumbs/detrimental300.png")
					figcaption Detrimental
				figure(class="item")
					a(title="the_grid" rel="lightbox-gal2" href="images/digital_art/full/the_grid.png")
						img(class="gallery_image" src="images/digital_art/thumbs/the_grid300.png")
					figcaption The Grid
				figure(class="item")
					a(title="star_shower" rel="lightbox-gal2" href="images/digital_art/full/star_shower.png")
						img(class="gallery_image" src="images/digital_art/thumbs/star_shower300.png")
					figcaption Star Shower
				figure(class="item")
					a(title="sharp_ooze" rel="lightbox-gal2" href="images/digital_art/full/sharp_ooze.png")
						img(class="gallery_image" src="images/digital_art/thumbs/sharp_ooze300.png")
					figcaption Sharp Ooze
				figure(class="item")
					a(title="motherboard" rel="lightbox-gal2" href="images/digital_art/full/motherboard.png")
						img(class="gallery_image" src="images/digital_art/thumbs/motherboard300.png")
					figcaption Motherboard
				figure(class="item")
					a(title="cylinder_night" rel="lightbox-gal2" href="images/digital_art/full/cylinder_night.png")
						img(class="gallery_image" src="images/digital_art/thumbs/cylinder_night300.png")
					figcaption Cylinder Night
		div(id="fun_panel2" class="content_panel")
			p(class="panel_description") My specialty for photography is low light and night with an emphasis on light painting. I also enjoy landscape and macro photography. 
			div(id="photography" class="panel_media")
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/framed800.png") 
						img(class="gallery_image" src="images/photography/thumbs/framed300.png")
					figcaption Framed
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/gate800.png")
						img(class="gallery_image" src="images/photography/thumbs/gate300.png")
					figcaption Through the Gate
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/anyone_home800.png")
						img(class="gallery_image" src="images/photography/thumbs/anyone_home300.png")
					figcaption Anyone Home
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/streak800.png")
						img(class="gallery_image" src="images/photography/thumbs/streak300.png")
					figcaption Streaks
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/light_my_way800.jpg")
						img(class="gallery_image" src="images/photography/thumbs/light_my_way300.jpg")
					figcaption Light My Way
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/coordinates800.jpg")
						img(class="gallery_image" src="images/photography/thumbs/coordinates300.jpg")
					figcaption Coordinates
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/sequence800.png")
						img(class="gallery_image" src="images/photography/thumbs/sequence300.png")
					figcaption Sequence
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/purple_flower800.png")
						img(class="gallery_image" src="images/photography/thumbs/purple_flower300.png")
					figcaption A Macro Flower
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/red_flower800.png")
						img(class="gallery_image" src="images/photography/thumbs/red_flower300.png")
					figcaption Another Flower
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/moon800.png")
						img(class="gallery_image" src="images/photography/thumbs/moon300.png")
					figcaption Red moon
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/dark_beach800.png")
						img(class="gallery_image" src="images/photography/thumbs/dark_beach300.png")
					figcaption Beach Fog
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/fortress800.jpg")
						img(class="gallery_image" src="images/photography/thumbs/fortress300.jpg")
					figcaption Fortress Rock
				figure(class="item")
					a(title="" rel="lightbox-gal3" href="images/photography/full/lookout800.png")
						img(class="gallery_image" src="images/photography/thumbs/lookout300.png")
					figcaption Lookout
		//- div(id="fun_panel3" class="content_panel")
			