div(id="fun")
	p(class="content_area_title") Fun
	div(id="fun_nav_container")
		ul(id="fun_nav_bar")
			li(onclick="switch_panel('fun_panel', 1);") Generative Art
			li(onclick="switch_panel('fun_panel', 2);") Photography
			li(onclick="switch_panel('fun_panel', 3);") After Effects
	div(id="fun_content")
		div(id="fun_panel1" class="content_panel")
			p Generative Art
			div(id="dig_art" class="panel_media")
				a(title="marble" rel="lightbox-gal1" href="images/digital_art/full/marble.png")
					img(class="gallery_image" src="images/digital_art/thumbs/marble300.png")
				a(title="spines" rel="lightbox-gal1" href="images/digital_art/full/spines.png") 
					img(class="gallery_image" src="images/digital_art/thumbs/spines300.png")
				a(title="of_squares" rel="lightbox-gal1" href="images/digital_art/full/of_squares.png")
					img(class="gallery_image" src="images/digital_art/thumbs/of_squares300.png")
				a(title="travels" rel="lightbox-gal1" href="images/digital_art/full/travels.png")
					img(class="gallery_image" src="images/digital_art/thumbs/travels300.png")
				a(title="calligraphy" rel="lightbox-gal1" href="images/digital_art/full/calligraphy.png")
					img(class="gallery_image" src="images/digital_art/thumbs/calligraphy300.png")
				a(title="twins" rel="lightbox-gal1" href="images/digital_art/full/twins.png")
					img(class="gallery_image" src="images/digital_art/thumbs/twins300.png")
				a(title="detrimental" rel="lightbox-gal1" href="images/digital_art/full/detrimental.png")
					img(class="gallery_image" src="images/digital_art/thumbs/detrimental300.png")
				a(title="the_grid" rel="lightbox-gal1" href="images/digital_art/full/the_grid.png")
					img(class="gallery_image" src="images/digital_art/thumbs/the_grid300.png")
				a(title="star_shower" rel="lightbox-gal1" href="images/digital_art/full/star_shower.png")
					img(class="gallery_image" src="images/digital_art/thumbs/star_shower300.png")
				a(title="sharp_ooze" rel="lightbox-gal1" href="images/digital_art/full/sharp_ooze.png")
					img(class="gallery_image" src="images/digital_art/thumbs/sharp_ooze300.png")
				a(title="motherboard" rel="lightbox-gal1" href="images/digital_art/full/motherboard.png")
					img(class="gallery_image" src="images/digital_art/thumbs/motherboard300.png")
				a(title="cylinder_night" rel="lightbox-gal1" href="images/digital_art/full/cylinder_night.png")
					img(class="gallery_image" src="images/digital_art/thumbs/cylinder_night300.png")
		div(id="fun_panel2" class="content_panel")
			p Photography
			div(id="photography" class="panel_media")
				a(title="Golden Gate Bridge" rel="lightbox-gal2" href="images/photography/bridge.JPG") 
					img(class="gallery_image" src="images/photography/bridge.JPG")
				a(title="Niagra Falls" rel="lightbox-gal2" href="images/photography/falls.JPG")
					img(class="gallery_image" src="images/photography/falls.JPG")
				a(title="Light through the Rocks" rel="lightbox-gal2" href="images/photography/light.JPG")
					img(class="gallery_image" src="images/photography/light.JPG")
				a(title="Turtle in the Virgin Islands" rel="lightbox-gal2" href="images/photography/turtle.JPG")
					img(class="gallery_image" src="images/photography/turtle.JPG")
		div(id="fun_panel3" class="content_panel")
			p After Effects
			<iframe width="800" height="600" src="http://www.youtube.com/embed/vFmhnodMOxk" frameborder="0" allowfullscreen></iframe>