head
	title Mitchell Wolfe
	meta(charset="UTF-8")

	//- CSS
	link(rel='stylesheet' href='css/global.css')
	link(rel='stylesheet' href='css/lightbox.css' media='screen')

	//-scripts
	script(type='text/javascript' src = 'javascript/min/jquery-2.1.1.min.js')
	script(type='text/javascript' src = 'javascript/min/main-ck.js')
	script(type='text/javascript' src = 'javascript/min/jquery.scrollTo.min.js')
	script(type='text/javascript' src = 'javascript/min/lightbox.min.js')