div(id="work")
	div(id="work_nav_container" class="content_nav_container")
		p(class="content_area_title") Portfolio
		p(id="graph_design_sel" class="active" class="slice" onclick="switch_panel('work_panel', 1, 'graph_design_sel');") Graphic Design
		p(id="after_effects_sel" class="slice" onclick="switch_panel('work_panel', 2, 'after_effects_sel');") After Effects
		p(id="comp_graph_sel" class="slice" onclick="switch_panel('work_panel', 3, 'comp_graph_sel');") Computer Graphics
	div(id="work_content")
		div(id="work_panel1" class="content_panel")
			p(class="panel_Description") A selection of various graphic design works.
			div(id="graph_design" class="panel_media")
				figure(class="item" class="more_space")
					a(title="ubuntu" data-lightbox="graphic-design" href="images/graphic_design/full/ubuntu800.gif")
						img(class="gallery_image" src="images/graphic_design/thumbs/ubuntu300.gif")
					figcaption Type Spec Poster
				figure(class="item" class="more_space")
					a(title="mythinkspace" data-lightbox="graphic-design" href="images/graphic_design/full/my_think_space.svg")
						img(class="gallery_image" src="images/graphic_design/full/my_think_space.svg")
					figcaption MyThinkSpace Logo	
				figure(class="item" class="more_space")
					a(title="The Bully" data-lightbox="graphic-design" href="images/graphic_design/full/front_cover.gif")
						img(class="gallery_image" src="images/graphic_design/thumbs/front_cover300.gif")
					figcaption Cover for Digital Comic 
						//- a(src="") Full Comic
				figure(class="item" class="more_space")
					a(title="City Logo Color" data-lightbox="graphic-design" href="images/graphic_design/full/kuala_lumpur_color800.gif")
						img(class="gallery_image" src="images/graphic_design/thumbs/kuala_lumpur_color300.gif")
					figcaption Color City
				figure(class="item" class="more_space")
					a(title="City Logo Color B&W" data-lightbox="graphic-design" href="images/graphic_design/full/kuala_lumpur_bw800.gif")
						img(class="gallery_image" src="images/graphic_design/thumbs/kuala_lumpur_bw300.gif")
					figcaption BW City Logo
				figure(class="item" class="more_space")
					a(title="Typography With Bottles" data-lightbox="graphic-design" href="images/graphic_design/full/typography.gif")
						img(class="gallery_image" src="images/graphic_design/thumbs/typography300.gif")
					figcaption Typeface with Bottles
				figure(class="item" class="more_space")
					a(title="Selfie Book Cover" data-lightbox="graphic-design" href="images/graphic_design/full/selfie_cover.gif")
						img(class="gallery_image" src="images/graphic_design/thumbs/selfie_cover300.gif")
					figcaption Book Cover
		div(id="work_panel2" class="content_panel")
			div(id="after_effects" class="panel_media")
				div(class="item")
					<iframe width="480" height="360" src="https://www.youtube.com/embed/vFmhnodMOxk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					p Animation about Chaos
				div(class="item")
					<iframe width="480" height="360" src="https://www.youtube.com/embed/snoDRaD50RE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					p Animation about Peoples' digital posessions after death
		div(id="work_panel3" class="content_panel")
			div(id="comp_graph" class="panel_media")
				div(class="item")
					<iframe width="640" height="360" src="https://www.youtube.com/embed/1-EfT6M90CY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>