div(id="work")
	div(id="work_nav_container" class="content_nav_container")
		p(class="content_area_title") Work
		p(id="graph_design_sel" class="active" onclick="switch_panel('work_panel', 1, 'graph_design_sel');") Graphic Design
		p(id="after_effects_sel" onclick="switch_panel('work_panel', 2, 'after_effects_sel');") After Effects
		p(id="comp_graph_sel" onclick="switch_panel('work_panel', 3, 'comp_graph_sel');") Computer Graphics
	div(id="work_content")
		div(id="work_panel1" class="content_panel")
			p(class="panel_Description") A selection of various graphic design works.
			div(id="graph_design" class="panel_media")
				figure(class="item" class="more_space")
					a(title="ubuntu" rel="lightbox-gal1" href="images/graphic_design/full/ubuntu800.png")
						img(class="gallery_image" src="images/graphic_design/thumbs/ubuntu300.png")
					figcaption Type Spec Poster
				figure(class="item" class="more_space")
					a(title="mythinkspace" rel="lightbox-gal1" href="images/graphic_design/full/my_think_space.svg")
						img(class="gallery_image" src="images/graphic_design/full/my_think_space.svg")
					figcaption MyThinkSpace Logo	
				figure(class="item" class="more_space")
					a(title="The Bully" rel="lightbox-gal1" href="images/graphic_design/full/front_cover.png")
						img(class="gallery_image" src="images/graphic_design/thumbs/front_cover300.png")
					figcaption Cover for Digital Comic 
						//- a(src="") Full Comic
				figure(class="item" class="more_space")
					a(title="City Logo Color" rel="lightbox-gal1" href="images/graphic_design/full/kuala_lumpur_color800.png")
						img(class="gallery_image" src="images/graphic_design/thumbs/kuala_lumpur_color300.png")
					figcaption Color City
				figure(class="item" class="more_space")
					a(title="City Logo Color B&W" rel="lightbox-gal1" href="images/graphic_design/full/kuala_lumpur_bw800.png")
						img(class="gallery_image" src="images/graphic_design/thumbs/kuala_lumpur_bw300.png")
					figcaption BW City Logo
				figure(class="item" class="more_space")
					a(title="Typography With Bottles" rel="lightbox-gal1" href="images/graphic_design/full/typography.jpg")
						img(class="gallery_image" src="images/graphic_design/thumbs/typography300.jpg")
					figcaption Typeface with Bottles
				figure(class="item" class="more_space")
					a(title="Selfie Book Cover" rel="lightbox-gal1" href="images/graphic_design/full/selfie_cover.jpg")
						img(class="gallery_image" src="images/graphic_design/thumbs/selfie_cover300.jpg")
					figcaption Book Cover
		div(id="work_panel2" class="content_panel")
			div(id="after_effects" class="panel_media")
				div(class="item")
					<iframe width="420" height="315" src="https://www.youtube.com/embed/vFmhnodMOxk" frameborder="0" allowfullscreen></iframe>
				div(class="item")
					<iframe width="420" height="315" src="https://www.youtube.com/embed/snoDRaD50RE" frameborder="0" allowfullscreen></iframe>
		div(id="work_panel3" class="content_panel")
			div(id="comp_graph" class="panel_media")
				div(class="item")
					<iframe width="800" height="600" src="http://www.youtube.com/embed/1-EfT6M90CY?rel=0" frameborder="0" allowfullscreen> </iframe>