div(id="fun")
	p(class="area_title") Fun
	div(id="fun-nav-container")
		ul(id="fun-nav-bar")
			li(onclick="switch_panel('fun_panel', 1);") Panel 1
			li(onclick="switch_panel('fun_panel', 2);") Panel 2
			li(onclick="switch_panel('fun_panel', 3);") Panel 3
	div(id="fun_content")
		div(id="fun_panel1" class="content_panel")
			p Digital Art
		div(id="fun_panel2" class="content_panel")
			p Photography
		div(id="fun_panel3" class="content_panel")
			p AFter Effects