div(id="fun")
	p(class="content_area_title") Fun
	div(id="fun_nav_container")
		ul(id="fun_nav_bar")
			li(onclick="switch_panel('fun_panel', 1);") Digital Art
			li(onclick="switch_panel('fun_panel', 2);") Photography
			li(onclick="switch_panel('fun_panel', 3);") After Effects
	div(id="fun_content")
		div(id="fun_panel1" class="content_panel")
			p Digital Art
			div(id="media_fun" class="panel_media")
				a( title="calligraphy" rel="lightbox" href="images/digital_art/spines.png") 
					img(class="gallery_image" src="images/digital_art/spines.png")
				a(title="marble" rel="lightbox" href="images/digital_art/marble.png")
					img(class="gallery_image" src="images/digital_art/marble.png")
				a(title="travels" rel="lightbox" href="images/digital_art/travels.png")
					img(class="gallery_image" src="images/digital_art/travels.png")
				a(title="twins" rel="lightbox" href="images/digital_art/twins.png")
					img(class="gallery_image" src="images/digital_art/twins.png")
		div(id="fun_panel2" class="content_panel")
			p Photography
		div(id="fun_panel3" class="content_panel")
			p After Effects