doctype html
html
	include _head
	body
		div(id="container")
			//- Top Navigation Bar
			div(id="top_bar")
				p(onclick="$.scrollTo('0', 1000);") About me
				p(onclick="$.scrollTo('970', 1000);") Resume
				p(id="my_name") Mitchell Wolfe
				p(onclick="$.scrollTo('1800', 1000);") Work
				p(onclick="$.scrollTo('2630', 1000);") Fun
			//- div(id="undercover")

			//- About Me Section
			include _about

			//- Resume Section
			include _resume

			//- Work Section
			include _work

			//- Fun Sction
			include _fun

			//- Contact
			include _contact
//- End of File