doctype html
html
	include head
	body
		div(id="container")
			//- Top Navigation Bar
			div(id="top_bar")
				img(id="logo" src="images/logo1.png")
				p(id="name") Mitchell Wolfe
				div(id="nav-container")
					ul(id="nav-list")
						li(onclick="$.scrollTo('#undercover', 1000);") About me
						li(onclick="$.scrollTo('#idea1', 1000);") Resume
						li(onclick="$.scrollTo('#idea2', 1000);") Work
						li(onclick="$.scrollTo('#idea3', 1000);") Fun
			div(id="undercover" class="thinking_bar")

			//- About Me Section
			include about

			div(id="idea1" class="thinking_bar") 

			//- Resume Section
			include resume

			div(id="idea2" class="thinking_bar") 

			//- Work Section
			include work
			
			div(id="idea3" class="thinking_bar")

			//- Fun Sction
			include fun

			div(id="idea4" class="thinking_bar")

			//- Contact
			div(id="contact")

//- End of File