doctype html
html
	include _head
	body
		div(id="container")
			//- Top Navigation Bar
			div(id="top_bar")
				img(id="logo" src="images/logo1.png")
				p(id="my_name") Mitchell Wolfe
				div(id="nav_container")
					ul(id="nav_list")
						li(onclick="$.scrollTo('155', 1000);") About me
						li(onclick="$.scrollTo('950', 1000);") Resume
						li(onclick="$.scrollTo('1765', 1000);") Work
						li(onclick="$.scrollTo('2565', 1000);") Fun
			div(id="undercover")

			//- About Me Section
			include _about

			//- Resume Section
			include _resume

			//- Work Section
			include _work

			//- Fun Sction
			include _fun

			//- Contact
			include _contact
//- End of File