doctype html
html
	include _single_page_head
	body
		div(class="single_page_container") 
			h1(id="page_time_header" class="resume_main_header") Senior Project - Radio 1190 
			p(class="page_section_content") 
				//- include ../markdown/senior_projects.md
		div(class="bottom_space_bar")