div(id="work")
	p(class="area_title") Work
	div(id="work-nav-container")
		ul(id="work-nav-bar")
			li(onclick="switch_panel('work_panel', 1);") Panel 1
			li(onclick="switch_panel('work_panel', 2);") Panel 2
			li(onclick="switch_panel('work_panel', 3);") Panel 3
	div(id="work_content")
		div(id="work_panel1" class="content_panel")
			p Inside of Panel 1
		div(id="work_panel2" class="content_panel")
			p Inside of Panel 2
		div(id="work_panel3" class="content_panel")
			p Inside of Panel 3